<div class="root">
	<mat-form-field fxLayout="row" fxLayoutAlign="center" appearance="outline">
		<mat-label>Filtru</mat-label>
		<input matInput (keyup)="applyFilter($event)">
		<mat-icon matSuffix>search</mat-icon>
		<mat-hint>Ex: Studentilor</mat-hint>
	</mat-form-field>

	<mat-divider></mat-divider>

	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<!-- Name Column -->
		<ng-container matColumnDef="route">
			<!-- <th mat-header-cell *matHeaderCellDef></th> -->
			<td mat-cell *matCellDef="let element"> 
				<button fxLayout="row" mat-button color="primary" (click)="selectRoute(element)">
					<div class="button-icon" fxLayout="column" fxFlex="10%">
						<mat-icon>directions_bus</mat-icon>
					</div>
					<div class="button-title" fxLayout="column" fxFlex="90%"> 
						<span class="route-id">{{element.id}}</span>
						<span class="route-name">{{element.name}}</span>
					</div>
				</button>
			</td>
		</ng-container>

		<!-- Name Column
		<ng-container matColumnDef="visible">
			<th mat-header-cell *matHeaderCellDef> <mat-icon>my_location</mat-icon> </th>
			<td mat-cell *matCellDef="let element">
				<div class="visible-icon">
					<mat-checkbox></mat-checkbox>
				</div>
			</td>
		</ng-container> -->

		<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> -->
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>